@reference './index.css';

.App {
  text-align: center;
}

/** Chess grinder site styles */

.btn {
  @apply py-1;
  @apply px-3;
  @apply text-center;
}

.btn-sm {
  @apply py-1;
  @apply px-1;
  @apply text-center;
}

.btn-primary {
  @apply py-1;
  @apply px-3;
  @apply text-center;
  @apply bg-primary-400;
  @apply text-black;
}

.btn-dark {
  @apply py-1;
  @apply px-3;
  @apply text-center;
  @apply bg-black;
  @apply text-white;
}

.btn-danger {
  @apply py-1;
  @apply px-3;
  @apply text-center;
  @apply bg-danger-800;
  @apply text-white;
}

.btn-light {
  @apply py-1;
  @apply px-3;
  @apply text-center;
  @apply bg-gray-200;
  @apply text-black;
}

.btn-unsupported {
  @apply py-1;
  @apply px-3;
  @apply text-center;
  @apply text-gray-600;
  @apply line-through;
  @apply border;
}

.input-text {
  @apply border-b;
}

.bg-stripes-45-primary-400 {
  background: repeating-linear-gradient(
          45deg,
          var(--color-primary-400),
          var(--color-primary-400) 10px,
          var(--color-primary-300) 10px,
          var(--color-primary-300) 15px,
          var(--color-primary-400) 15px
  );
}

.bg-stripes-45-primary-200 {
  background: repeating-linear-gradient(
          45deg,
          var(--color-primary-200),
          var(--color-primary-200) 10px,
          var(--color-primary-100) 10px,
          var(--color-primary-100) 15px,
          var(--color-primary-200) 15px
  );
}

.bg-stripes-45-gray-200 {
  background: repeating-linear-gradient(
          45deg,
          var(--color-gray-200),
          var(--color-gray-200) 10px,
          var(--color-gray-50) 10px,
          var(--color-gray-50) 15px,
          var(--color-gray-200) 15px
  );
}

/* Hide the reCAPTCHA badge */
/* https://developers.google.com/recaptcha/docs/faq#id-like-to-hide-the-recaptcha-badge.-what-is-allowed */
.grecaptcha-badge {
    visibility: hidden;
}
