.App {
  text-align: center;
}

/** Chess grinder site styles */

.btn {
  @apply py-1;
  @apply px-3;
  @apply text-center;
}

.btn-sm {
  @apply py-1;
  @apply px-1;
  @apply text-center;
}

.btn-primary {
  @apply btn;
  @apply bg-primary-400;
  @apply text-black
}

.btn-dark {
  @apply btn;
  @apply bg-black;
  @apply text-white;
}

.btn-danger {
  @apply btn;
  @apply bg-danger-800;
  @apply text-white;
}

.btn-light {
  @apply btn;
  @apply bg-gray-200;
  @apply text-black;
}

.btn-unsupported {
  @apply btn;
  @apply text-gray-600;
  @apply line-through;
  @apply border;
}

.input-text {
  @apply border-b;
}

.bg-stripes-45-primary-400 {
  background: repeating-linear-gradient(
          45deg,
          theme("colors.primary.400"),
          theme("colors.primary.400") 20px,
          theme("colors.primary.200") 20px,
          theme("colors.primary.200") 40px,
          theme("colors.primary.400") 40px
  );
}

.bg-stripes-45-primary-200 {
  background: repeating-linear-gradient(
          45deg,
          theme("colors.primary.200"),
          theme("colors.primary.200") 20px,
          theme("colors.primary.100") 20px,
          theme("colors.primary.100") 40px,
          theme("colors.primary.200") 40px
  );
}

.bg-stripes-45-gray-200 {
  background: repeating-linear-gradient(
          45deg,
          theme("colors.gray.200"),
          theme("colors.gray.200") 20px,
          theme("colors.gray.50") 20px,
          theme("colors.gray.50") 40px
  );
}
